.footer-container {
    width: 100%;
    background-color: #FFA8D9;
    /* margin-bottom: 0 auto; */
    width: 100%;
    color: black;
    display: flex;
	flex-direction: column;
}

.footer-content{
    display: flex;
	justify-content: space-evenly;
}

.footer-bottom {
    text-align: center;
}

.Icon {
    width: 50px;
}