.pulseira{
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 5px 6px 5px 0px rgba(158,158,158,0.7);
    -moz-box-shadow: 5px 6px 5px 0px rgba(158,158,158,0.7);
    box-shadow: 5px 6px 5px 0px rgba(158,158,158,0.7);
}