.gerencia-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFE0FF;
    padding: 2rem;
    box-sizing: border-box;
}

.input-group {
    width: 100%;
    max-width: 30rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    margin-bottom: 0.25rem;
    font-weight: bold;
    font-family: 'SF-Compact-Display-Bold', sans-serif;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #FFA8D9;
    font-family: 'SF-Pro-Display-Medium', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.gerencia-produtos ::placeholder {
    color: #000;
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.button-group button {
    padding: 0.75rem 1rem;
    font-family: 'SF-Pro-Rounded-Thin', sans-serif;
    font-size: 1rem;
    color: #000;
    background-color: #FFA8D9;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.button-group button:hover {
    background-color: #000;
    border: 2px solid #FFF;
    color: #FFF;
}
