.background-container {
  background-color: #FFE0FF;
  /* Cor de fundo para toda a tela */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* Alterado para min-height para incluir conteúdo adicional */
  width: 100%;
}

.login-container {
  min-width: 25%;
  background-color: #FFA8D9;
  border-radius: 10%;
  height: 100%;
}

/* Queries para responsividade */
@media (min-width: 100px) {
  .login-container {
    width: 35%;
    max-width: 300px;
  }
}

.custom-input{
  width: 80%;
  padding: 5%;
  border: none;
  border-radius: 50px;
  align-items: center;
  background-color: #D9D9D9;
  margin: 5%;
  caret-color: #89004F;
  outline-color: #89004F;
}

button {
  width: 70%;
  padding: 5%;
  background-color: #D9D9D9;
  /* Cor do botão */
  color: #89004F;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 15%;
}

button:hover {
  background-color: #C33B80;
  /* Cor do botão ao passar o mouse */
}

h2 {
  font-size: 250%;
  color: #89004F;
  text-align: center;
}