html,
body,
#root {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 350%;
    margin: 0px;
    color: #89004F;
    text-align: center;
}

h2 {

    color: #89004F;
    margin: 0px;
    text-align: center;
}

h3 {
    color: #89004F;
    text-align: center;
}

h4 {
    font-size: 200%;
    color: #89004F;
    margin: 0px;
    text-align: center;
}

.custom-label{
    color: #89004F;
}